@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    height: 768px;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    width: 920px;
    height: 509px;
    border-radius: 23px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.photo{
    position: relative;
     margin-left: -2px; 
}
.monitor{
    position: absolute;
    top: 50px;
    display: block;
}
.monitor1{
    display: none;
}
.cube{
    position: absolute;
    top: 170px;
    left: -90px;
    display: block;
}
.cube1{
    display: none;
}
.shadow{
    position: absolute;
    bottom: 0;
    top: 82px;
}
.shadow1{
    display: none;
}
.line2{
    position: absolute;
    top: -5px;
}
.line1{
    position: absolute;

}
.navi{
    width: 700px;
    height: 360px;
    margin-left: 480px;
    margin-top: 65px;
}
h1{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1E1F36;
    margin-bottom: 45px;
}
.arrow1{
    margin-left: 72px;
}
.arrow2{
    margin-left: 71px;
}
.arrow3{
    margin-left: 134px;
}
.arrow4{
    margin-left: 132px;
}
.arrow5{
    margin-left: 95px;
}
.li1{
    Width: 253px;
    Height: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #4B4C5F;
    display: inline-block;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
}
.li1:hover{
    color: #F47B56;
    cursor: pointer;
}
.hr1{
    Width: 350px;
    margin-right: 95px;
    margin-top: 18px;
    display: block;
}
.hrli1{
    display: none; 
   
}
.li2{
    Width: 319px;
    Height: 36px;
    font-size: 12px;
    line-height: 18px;
    color: #787887;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    display: none;
    margin-top: 13px;
    }
.li3{
    Width: 254px;
    Height: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #4B4C5F;
    display: inline-block;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
}
.li3:hover{
    color: #F47B56;
    cursor: pointer;
}
.hr2{
    Width: 350px;
    margin-right: 95px;
    margin-top: 18px;
    display: block;
}
.hrli2{
    display: none;  
}
.li4{
    Width: 319px;
    Height: 36px;
    font-size: 12px;
    line-height: 18px;
    color: #787887;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    display: none;
    margin-top: 13px;
}
.li5{
    Width: 191px;
    Height: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #4B4C5F;
    display: inline-block;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
}
.li5:hover{
    color: #F47B56;
    cursor: pointer;
}
.li6{
    Width: 319px;
    Height: 36px;
    font-size: 12px;
    line-height: 18px;
    color: #787887;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    display: none;
    margin-top: 13px;
}
.li8{
    Width: 319px;
    Height: 36px;
    font-size: 12px;
    line-height: 18px;
    color: #787887;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    display: none;
    margin-top: 13px;
}
.li10{
    Width: 319px;
    Height: 36px;
    font-size: 12px;
    line-height: 18px;
    color: #787887;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    display: none;
    margin-top: 13px;
}
.hr3{
    Width: 350px;
    margin-right: 95px;
    margin-top: 18px;
    display: block;
}
.hrli3{
    display: none;    
}
.li7{
    Width: 193px;
    Height: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #4B4C5F;
    display: inline-block;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
}
.li7:hover{
    color: #F47B56;
    cursor: pointer;
}
.hr4{
    Width: 350px;
    margin-right: 95px;
    margin-top: 18px;
    display: block;
}
.hrli4{
    display: none;
}
.li9{
    Width: 230px;
    Height: 14px;
    font-size: 14px;
    line-height: 17px;
    color: #4B4C5F;
    display: inline-block;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
}
.li9:hover{
    color: #F47B56;
    cursor: pointer;
}
.hr5{
    Width: 350px;
    margin-right: 95px;
    margin-top: 18px;
    display: block;  
}
.hrli5{
    display: none;
}
.turn {
    transform: rotate(180deg);
    transition: all 0.3s;
}
.li11{
    font-weight: 700;
    color: black;
}
.li22{
    /* opacity: 1;
    transition: all 1s; */
    display: block;
}
.hr11{
display: none;
}
.hrli11{
    display: block;
    width: 350px;
    margin-right: 95px;
}

@media(max-width:375px){
    .white{
        width: 327px;
        height: 600px;
        margin-top: 45px;
        margin-left: 24px;
        margin-right: 24px;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .monitor{
        display: none;
    }
    .monitor1{
        position: absolute;
        display: block;
        Width: 237px;
        Height: 180px;
        top: -115px;
        left: 44px;
    }
    .cube{
        display: none;
    }
    .cube1{
        position: absolute;
        top: -60px;
        left: 15px;
        display: block;
    }
    .shadow{
    display: none;
    }
    .shadow1{
        position: absolute;
        width: 240px;
        height: 145px;
        left: 44px;
        top: -30px;
        display: block;
    }
    .line2{
        display: none;
    }
    .line1{
       display: none;
    }
    .navi{
        width: 279px;
        height: 355px;
        margin-left: 24px;
        /* margin-top: 150px; */
    }
    .hr1{
        width: 279px;
        margin-top: 15px;
    }
    .hr2{
        width: 279px;
        margin-top: 15px;
    }
    .hr3{
        width: 279px;
        margin-top: 15px;
    }
    .hr4{
        width: 279px;
        margin-top: 15px;
    }
    .hr5{
        width: 279px;
        margin-top: 15px;
    }
    h1{
        margin-left: 100px;
    }
    .hrli1{
        width: 279px;
    }
    .hrli2{
        width: 279px;
    }
    .hrli3{
        width: 279px;
    }
    .hrli4{
        width: 279px;
    }
    .hrli5{
        width: 279px;
    }
    .li1{
        width: 235px;
        font-size: 13px;
        line-height: 16px;
    }
    .arrow1{
        margin-left: 0px;
        margin-left: 30px;
    }
    .arrow2{
        margin-left: 0;
        margin-left: 30px;
    }
    .arrow3{
        margin-left: 0px;
        margin-left: 30px;
    }
    .arrow4{
        margin-left: 0px;
        margin-left: 30px;
    }
    .arrow5{
        margin-left: 0px;
        margin-left: 30px;
    }
    .li2{
        width: 279px;
        margin-top: 10px;
    }
    .li3{
        width: 235px;
        font-size: 13px;
        line-height: 16px;
    }
    .li4{
        width: 279px;
        margin-top: 10px;
    }
    .li5{
        width: 235px;
        font-size: 13px;
        line-height: 16px;
    }
    .li6{
        width: 279px;
        margin-top: 10px;
    }
    .li7{
        width: 235px;
        font-size: 13px;
        line-height: 16px;
    }
    .li8{
        width: 279px;
        margin-top: 10px;
    }
    .li9{
        width: 235px;
        font-size: 13px;
        line-height: 16px;
    }
    .li10{
        width: 279px;
        margin-top: 10px;
    }
}